@import "tailwindcss";

@theme inline {
  /* On enregistre nos 3 couleurs de base */
  --color-brand-navy: #0F172A;
  --color-brand-green: #10B981;
  --color-brand-slate: #64748B;
}

:root {
  --background: #F8FAFC; /* Gris très léger pour le fond */
  --foreground: #0F172A; /* Bleu minuit pour le texte */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Gestion de l'impression simplifiée */
@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  body { background: white !important; }
}